/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
	box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
html {
	font-size: 62.5%;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;

	background-image: url("/img/f1-background.jpg");
	background-size: auto;
	background-repeat: no-repeat;
}
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
body {
	display: flex;
	width: 100vw;
	justify-content: center;
	align-items: center;
}
.container,
.modal {
	height: 80%;
	width: 90%;
}
.container {
	margin-top: 5rem;
	border-radius: 1rem;
	background-color: white;
}
.year-selection {
	display: flex;
	justify-content: center;
	margin: 1rem 0;
	text-align: center;
}
#year {
	height: 3rem;
	width: 10rem;
	margin: 0 2rem;
	font-size: 2rem;
	text-align: center;
}
#race {
	height: 3rem;
	width: 40rem;
	margin: 0 2rem;
	font-size: 2rem;
	text-align: center;
}
.title-bar,
.results-field {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	flex-direction: row;
}
.title-bar h1 {
	height: 5rem;
	width: 15%;
	margin: 1rem;

	background-color: #e10600;
	color: white;
	border-radius: 1rem;

	font-size: 2rem;
	line-height: 5rem;
	text-align: center;
}
.race-name,
.pole-name,
.driver-name,
.constructor-name,
.fastest-lap-name,
.driver-standings,
.driver-standings-points,
.constructor-standings,
.constructor-standings-points {
	width: 15%;
	margin: 0 auto;
}
.race-name div,
.pole-name div,
.driver-name div,
.constructor-name div,
.fastest-lap-name div,
.driver-standings div,
.driver-standings-points div,
.constructor-standings div,
.constructor-standings-points div {
	height: 3rem;
	width: 90%;
	justify-content: center;
	justify-self: center;
	margin: 1rem auto;
	padding: 0.5rem 0rem;

	background-color: black;
	color: white;
	border-radius: 0.5rem;

	font-size: 1.2rem;
	line-height: 2rem;
	text-align: center;
}
.modal {
	position: absolute;
	z-index: 1;
	top: 10rem;
	display: flex;
	flex-wrap: wrap;
	border-radius: 1rem;
	background-color: white;
	align-items: flex-start;
	align-content: flex-start;
}
.modal-title-bar {
	height: 5%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}
.modal-title-bar h1 {
	height: 5rem;
	width: 45%;
	display: flex;
	margin: 1rem auto;
	text-align: center;
	justify-content: center;
	background-color: #e10600;
	border-radius: 1rem;
	color: white;
	font-size: 2rem;
	line-height: 5rem;
	text-align: center;
}
.results-container {
	width: 100%;
	display: flex;
	flex-direction: row;
}
.driver-race-results,
.circuit-image {
	width: 90%;
	margin: auto;
}
.driver-race-results {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.driver-race-standings,
.driver-race-constructor {
	width: 20%;
}
.driver-race-points {
	width: 10%;
}
.driver-race-time {
	width: 25%;
}
.driver-race-standings div,
.driver-race-constructor div,
.driver-race-points div,
.driver-race-time div {
	height: 3rem;
	display: flex;
	flex-direction: row;
	margin: 1rem 0.25rem;
	justify-content: center;
	border: 1px solid black;
	border-radius: 0.5rem;
	font-size: 2rem;
	line-height: 3rem;
	text-align: center;
}
.circuit-image {
	text-align: center;
}
.circuit-image img {
	height: 90%;
	width: 90%;
	object-fit: contain;
	justify-content: center;
	justify-items: center;
	justify-self: center;
}
.close-modal {
	height: 2.5%;
	width: 10%;
	margin: 2rem auto;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
